.advantage__list {
  margin-top: 200px;
  width: 280px;
  height: 266px;
  background-color: #f2f2f2;
}

.advantage__list-second {
  width: 280px;
  height: 266px;
  background-color: #f2f2f2;
}

.advantage__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}

.advantage__title::before {
  content: "";
  background-image: "url(../../img/cat_back_sit.svg)";
  width: 50px;
  height: 53px;
  display: inline-block;
  margin-top: 21px;
  margin-right: 19px;
  margin-left: 22px;
  vertical-align: -16px;
}

.advantage__title-second {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 20px;
}

.advantage__title-second::before {
  content: "";
  background-image: "url(../../img/cat_back_go.svg)";
  width: 67px;
  height: 50px;
  display: inline-block;
  margin-top: 24px;
  margin-right: 11px;
  margin-left: 13px;
  vertical-align: -16px;
}

.advantage__description {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 23px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.advantage__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 19px;
}

.advantage__link::after {
  content: "";
  background-image: "url(../../img/icon_arrow.svg)";
  width: 32px;
  height: 10px;
  padding-left: 30px;
  background-repeat: no-repeat;
}
